@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 8s all;
   

}
body{
  width: 100%;
   height: auto;
   /* background: linear-gradient(137deg, #3D50DF 0%, #0AFF7A 100%); */
   /* background-image: url(./assets/Desktop\ -\ 1.png); */
   background-image: url(bg.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   font-family: 'Roboto', sans-serif;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}
.container1{

 width: 100%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 padding: 20px;

}
.text-loker{
    margin-top: 10%;
    width: 70%;
    height: auto;
    background: rgba(255, 255, 255, 0.63);
    backdrop-filter: blur(5px);
    color: rgb(49, 49, 49);
    font-size: 1.5rem;
    padding: 20px;


}
.text-loker a{
    font-size: 1rem;
}
#btn{
    padding: 10px 20px;
    margin-top: 5%;
    background-color: rgb(255, 0, 140);
    color: #fff;
    outline: none;
    border: none;
    font-size: 1.2rem;
    border-radius: 5px;

}
.container2{
    display: none;
  
}

.foto{
    position: relative;
    left: 25%;
    width: 50%;
    height: auto;
 border-radius: 15px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.42);
    backdrop-filter: blur(12.5px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selamat{
    font-size: 3rem;
    color: chartreuse;
    text-shadow: 1px 1px 1px black;
}
.ft{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2%;
}
.foto img{
    width: 35%;
    height: 35%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
}
.ucapan{
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: capitalize;
    color: rgb(34, 34, 34);
}
.ucapan span{
font-size: 2.2rem;
color: rgb(255, 0, 0);
}
@media only screen and (max-width: 600px) {
    .text-loker{
     
        font-size: 1.2rem;
   
    }
    #btn{
       
        font-size: 1rem;
     
    
    }
  
    .selamat{
        font-size: 2.5rem;
   
    }
    .foto img{
        width: 40%;
        height: 40%;

    }
    .ucapan{
        font-size: 1.2rem;
     
    }
    .ucapan span{
    font-size: 1.4rem;

    }



  }